<%- include("header") %>
<div class="back_liste">
    <h2>←  Revenir à la liste des réservation</h2>
</div>

<div class="reservation_card">
    <img href="#">
    <div class="reservation_card_info">
        <h3>Produit 1</h3>
        <div class="info-reserv">
            <p>Quantité</p>
            <p>Prix</p>
        </div>
        <p>Description</p>
        <h4>Date reserv</h4>
        <h4>Jours restants</h4>
        <p>Réservation par :</p>
        <h5>Nom d'utilisateur</h5>
    
        <div class="boutons_reserv">
            <button class="contact_reserv">Contacter le client</button>
            <button class="fin_reserv">Mettre fin à la réservation</button>
        </div>
    </div>
</div>

<%- include("../footer") %>