<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/CSS/style.css">
</head>
<body>
    <a href="accueil">
        <img class="logo" src="../../public/img/logo.png">
    </a>

    <form method="POST">
        <input type="text" placeholder="rechercher">
    </form>

    <img class="favoris-icon" src="../../public/img/icones/coeur-noir-blanc.png">
    <navbar>
        <a href="nouveaute">Nouveautés</a>
        <a href="catalogue_produit">Produits</a>
        <a href="ajout_suppr_produit">Gérer le stock</a>
        <a href="liste_resa">Gèrer les réservations</a>
    </navbar>

