<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LocFit</title>
    <link rel="stylesheet" href="/CSS/style.css">
    <link rel="stylesheet" href="/CSS/footer-inscription.css">
    <link rel="stylesheet" href="/CSS/connexion.css">
    <link rel="stylesheet" href="/CSS/header-fav-paie.css">
    <link rel="stylesheet" href="/CSS/accueil.css">
    <link rel="stylesheet" href="/CSS/gerant.css">
    <link rel="stylesheet" href="/CSS/liste_resa.css">
    <link rel="stylesheet" href="/CSS/produit.css">

    <link href="https://fonts.googleapis.com/css2?family=Jacques+Francois" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>
<body>
    <header>
        <div class="top-header">
          <div class="logo">
            <a href="accueil">
                <img src="/img/logo.png" alt="LocFit Logo" width="120">
            </a>
          </div>

          <div class="search-bar">
              <input type="text" placeholder="   Rechercher">
              <button class="recherche_header"><i class="fa fa-search"></i></button>
          </div>

          <div class="icons">
              <i class="fa-regular fa-heart fa-xl" style="color: #ffffff;"></i>
              <i class="fa-solid fa-cart-shopping fa-xl" style="color: #ffffff;"></i>
              <i class="fa-regular fa-user fa-2x" style="color: #ffffff;"></i>
          </div>
      </div>

        <nav class="bottom-header">
            <a href="/gerant/nouveaute">Nouveautés</a>
            <a href="/gerant/catalogue_produit">Produits</a>
            <a href="/gerant/ajout_suppr_produit">Gérer le stock</a>
            <a href="/gerant/liste_reservation">Gèrer les réservations</a>
        </nav>
    </header>


