<%- include("header") %>

<body>

    <div class="navbar-reservation">
        <p>Toutes les réservations</p>
        <p>Réservations validées</p>
        <p>Validations non confirmées</p>
        <p>Paiement non effectué</p>
    </div>




    <div class="backgound-reservation-produit">
        <div class="background-liste-produit">
            <div class="image-reservation-produit">
                <img src="/img/produits/Prdt14.jpg" alt="image">
            </div>

            <div class="card-reservation-produit">
                <h1 class="titre-produit-reservation">Titre du produit</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur mi enim, malesuada sed volutpat quis, dictum in turpis. Vivamus volutpat, nunc in pellentesque gravida, elit velit egestas orci, sed tempus velit ex et sem. Sed sed pulvinar neque.</p>
                    <p class="titre-reservation">59.99€</p>

            <div class="bouton-reservation-annulation">
                <button type="submit" class="bouton-reservation">Voir la réservation</button>
                <button type="submit" class="bouton-annulation">Mettre fin à la réservation</button>
            </div>
            </div>
        </div>
    </div>




    <div class="backgound-reservation-produit">
        <div class="background-liste-produit">
            <div class="image-reservation-produit">
                <img src="/img/produits/Prdt15.jpg" alt="image">
            </div>

            <div class="card-reservation-produit">
                <h1 class="titre-produit-reservation">Titre du produit</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur mi enim, malesuada sed volutpat quis, dictum in turpis. Vivamus volutpat, nunc in pellentesque gravida, elit velit egestas orci, sed tempus velit ex et sem. Sed sed pulvinar neque.</p>
                    <p class="titre-reservation">59.99€</p>

            <div class="bouton-reservation-annulation">
                <button type="submit" class="bouton-reservation">Voir la réservation</button>
                <button type="submit" class="bouton-annulation">Mettre fin à la réservation</button>
            </div>
            </div>
        </div>
    </div>




    <div class="backgound-reservation-produit">
        <div class="background-liste-produit">
            <div class="image-reservation-produit">
                <img src="/img/produits/Prdt16.jpg" alt="image">
            </div>

            <div class="card-reservation-produit">
                <h1 class="titre-produit-reservation">Titre du produit</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur mi enim, malesuada sed volutpat quis, dictum in turpis. Vivamus volutpat, nunc in pellentesque gravida, elit velit egestas orci, sed tempus velit ex et sem. Sed sed pulvinar neque.</p>
                    <p class="titre-reservation">59.99€</p>

            <div class="bouton-reservation-annulation">
                <button type="submit" class="bouton-reservation">Voir la réservation</button>
                <button type="submit" class="bouton-annulation">Mettre fin à la réservation</button>
            </div>
            </div>
        </div>
    </div>


</body>

<%- include("../footer") %>