<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/404.css">
    <title>404</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>
<body>
    <a href="retour-menu" class="error-link">
        <i class="fa-solid fa-arrow-left icon"></i>
        Retourner au menu
    </a>
    <p>Error 404</p>
    <img src="/img/logo.png" alt="logo">
</body>
</html>
