<%- include("header") %>

<body>

    <h1 class="Centered-title">Les Abonnements</h1>

<div class="abonnement-background">
    

    <div class="standard-background">
        <div class="standard-card">
        <img src="/img/ranks/Standard.png">
        <h2>Standard</h2>
        <ul>
            <li>Service de livraison normal</li><br>
            <li>-25% d'abonnement à la salle de sport</li>
        </ul>
        <button type="submit">Obtenir</button>
        <br>
        <a><em>18.99€/mois</em></a>
    </div>
    </div>


    <div class="VIP-background">
        <div class="VIP-card">
        <img src="/img/ranks/VIP.png">
        <h2>VIP</h2>
        <ul>
            <li>Coach personnel</li><br>
            <li>Produit livré sous 48h</li><br>
            <li>Abonnement à la salle de sport gratuit</li><br>
            <li>Accès à toutes les salles de chats</li>
        </ul>
        <button type="submit">Obtenir</button>
        <br>
        <a><em>125€/mois</em></a>
    </div>
    </div>


    <div class="premium-background">
        <div class="premium-card">
        <img src="/img/ranks/Premium.png">
        <h2>Premium</h2>
        <ul>
            <li>Produit livré au bout d'une semaine</li><br>
            <li>-50% d'abonnement à la salle de sport</li>
        </ul>
        <button type="submit">Obtenir</button>
        <br>
        <a><em>64.99€/mois</em></a>
    </div>
    </div>

</div>


</body>
</html>

<%- include("footer") %>