<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1 class="Centered-title">Les Abonnements</h1>


    <div class="standard-background">
        <img src="">
        <h2>Standard</h2>
        <ul>
            <li>Service de livraison normal</li>
            <li>-25% d'abonnement à la salle de sport</li>
        </ul>
        <button type="submit">Obtenir</button>
        <a><em>18.99€/mois</em></a>
    </div>


    <div class="VIP-background">
        <img src="">
        <h2>VIP</h2>
        <ul>
            <li>Coach personnel</li>
            <li>Produit livré sous 48h</li>
            <li>Abonnement à la salle de sport gratuit</li>
            <li>Accès à toutes les salles de chats</li>
        </ul>
        <button type="submit">Obtenir</button>
        <a><em>125€/mois</em></a>
    </div>


    <div class="premium-background">
        <img src="">
        <h2>Premium</h2>
        <ul>
            <li>Produit livré au bout d'une semaine</li>
            <li>-50% d'abonnement à la salle de sport</li>
        </ul>
        <button type="submit">Obtenir</button>
        <a><em>64.99€/mois</em></a>
    </div>


</body>
</html>
<%- include("header") %>

<%- include("footer") %>
