<%- include("header") %>

<body>

<div class="background">
  <form class="card-connexion">
    <h1>Connexion</h1>
    <p>Adresse mail</p>
    <input type="text" placeholder="Adresse mail">

    <p>Mot de passe</p>
    <input type="password" placeholder="Mot de passe">

    <br><br>

    <button type="submit">Connexion</button>

    <p>Ou se connecter avec :</p>
    <i class="fa-brands fa-google"></i>
    <i class="fa-brands fa-facebook"></i>
    <i class="fa-brands fa-apple"></i>

    <br><br>

    <a href="inscription">Pas de compte ?</a>

    <br><br>

    <button type="submit">Inscrivez-vous</button>
  </form>
</div>

</body>