<%- include("header") %>

<body>

    <img src="./public/img/fond.jpg">

    <div class="card-connexion">
        <h1>Connexion</h1>
            <a>Adresse mail</a>
                <input type="text" placeholder="Adresse mail">

            <a>Mot de passe</a>
                <input type="text" placeholder="Mot de passe">

        <button type="submit">Connexion</button>

        <a>Ou se connecter avec :</a>

        <i class="fa-brands fa-google"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-apple"></i>

        <a>Pas de compte ?</a>

        <button type="submit">Inscrivez-vous</button>
    </div>

</body>