<%- include("header") %>

<body>

<div class="background">
  <form class="card-connexion">
    <h1>Connexion</h1>
    <div class="aetm">
      <p>Adresse mail</p>
      <input type="text" placeholder="   Adresse mail">

      <p>Mot de passe</p>
      <input type="password" placeholder="   Mot de passe">
    </div>
    <br><br>
    <div class="submit">
    <a href="index" class="lienconn">Connexion</a>

    <p>Ou se connecter avec :</p>
    <div class="autres-moyens">
    <i class="fa-brands fa-google fa-google fa-xl" style="color: #ffffff;"></i>
    <i class="fa-brands fa-facebook fa-google fa-xl" style="color: #ffffff;"></i>
    <i class="fa-brands fa-apple fa-google fa-xl" style="color: #ffffff;"></i>
    </div>

    <p class="pdc">Pas de compte ?</p>


    <a href="inscription" class="lieninscrip">Inscrivez-vous</a>
    </div>
  </form>
</div>

</body>