<%- include("header") %>
<div class="favoris">
    <h1>Les favoris</h1>
    <p>..</p>
    <div class="card_favoris_gris">
        <img src="/img/appareil.jpg">
        <div class="info_favoris">
            <h3>Produit 1</h3>
            <p>description</p>
             <p class="prix">00,00€</p>
           <div class="bas_favoris">
                <div class="dispo">
                    <p>Disponibilité</p>
                </div>
                <button>Louer à nouveau</button>
            </div>
        </div>
        <i class="fa-solid fa-xmark fa-xl" style="color: white;"></i>
    </div>
    </div>
</div>


<%- include("footer") %>