    <footer>
        <img src="img/logo.png" class="logofooter">
        <div class="rs">
            <p> LaConfiserie@gmail.com </p>
            <i class="fa-brands fa-linkedin-in" style="color: #e4322e;"></i>
            <i class="fa-brands fa-instagram" style="color: #e4322e;"></i>
            <i class="fa-brands fa-facebook-f" style="color: #e4322e;"></i>
        </div>
    </footer>
    <section class="politique">
    <div class="colonne">
        <h4>Service Client</h4>
        <ul>
            <li>FAQ</li>
            <li>Contactez-Nous</li>
            <li>Nos Moyens de Paiement</li>
            <li>Nos Services de Livraison</li>
        </ul>
    </div>
    <div class="colonne">
        <h4>À Propos de Nous</h4>
        <ul>
            <li>LaConfiserie</li>
            <li>Espace Presse</li>
            <li>Recrutement</li>
            <li>Charte Qualité</li>
        </ul>
    </div>
    <div class="colonne">
        <h4>Juridique</h4>
        <ul>
            <li>Mentions Légales</li>
            <li>Conditions Générales</li>
            <li>Politique de Confidentialité</li>
            <li>Gérer cookies</li>
        </ul>
    </div>