    <footer>
    <div class="colonne">
        <h4>Service Client</h4>
        <ul>
            <li>FAQ</li>
            <li>Contactez-Nous</li>
            <li>Nos Moyens de Paiement</li>
            <li>Nos Services de Livraison</li>
        </ul>
    </div>
    <div class="colonne">
        <h4>À Propos de Nous</h4>
        <ul>
            <li>LocFit</li>
            <li>Espace Presse</li>
            <li>Recrutement</li>
            <li>Charte Qualité</li>
        </ul>
    </div>
    <div class="colonne">
        <h4>Juridique</h4>
        <ul>
            <li>Mentions Légales</li>
            <li>Conditions Générales</li>
            <li>Politique de Confidentialité</li>
            <li>Gérer cookies</li>
        </ul>
    </div>
    <div class="rs">
            <i class="fa-brands fa-instagram fa-xl" style="color: #ffffff;"></i>
            <i class="fa-brands fa-facebook fa-xl" style="color: #ffffff;"></i>
            <i class="fa-brands fa-pinterest fa-xl" style="color: #ffffff;"></i>
    </div>
    </footer>
    <section class="droit">
        © LocFit, Inc. All rights reserved.
    </section>