<%- include("header") %>
<h1>Inscription</h1>
<form>
    <p>Nom</p>
    <input type="text" placeholder="Nom">
    <p>Prénom</p>
    <input type="text" placeholder="Prénom">
    <p>Âge</p>
    <input type="age" placeholder="Âge">
    <p>Numéro de téléphone</p>
    <input type="number" placeholder="Numéro de téléphone">
    <p>Email</p>
    <input type="email" placeholder="Email">
    <p>Mot de passe</p>
    <input type="password" placeholder="Mot de passe">
    <div class="conditions">
        <p>**1 Majuscule obligatoire</p>
        <p>**1 Caractère spécial obligatoire</p>
        <p>**1 chiffre obligatoire</p>
    </div>
    <p>Confirmer le mot de passe</p>
    <input type="password" placeholder="Confirmer le mot de passe">
    <div class="checkbox">
        <input type="checkbox">
        <p>J'accepte les conditions générales d'utilisation</p>
        <input type="checkbox">
        <p>Je m'inscris à la newsletter</p>
    </div>
    <button type="submit">S'inscrire</button>
</form>
<h2>ou</h2>
<button class="google">S'inscrire avec Google</button>

