<%- include("header") %>

<h1>Mon panier</h1>
<div class="panier">
    <div class="card_panier">
        <h3>Produit 1</h3>
        <p>prix</p>
        <p>description</p>
        <div class="quantite">
            <button>-</button>
            <span>1</span>
            <button>+</button>
        </div>
        <i class="fa-regular fa-heart"></i>
        <i class="fa-solid fa-xmark fa-xl" style="color: white;"></i>
    </div>
</div>

<%- include("footer") %>