<%- include("header") %>

<h1>Mon panier</h1>
<div class="panier">
    <div class="card_panier">
        <img src="#">
        <div class="info_panier">
            <h3>Produit 1</h3>
            <p>prix</p>
            <p>description</p>
            <div class="quantite">
                <button>-</button>
                <span>1</span>
                <button>+</button>
            </div>
        </div>
        <i class="fa-regular fa-heart fa-xl"></i>
        <i class="fa-solid fa-xmark fa-2xl"></i>
    </div>
    <div class="recap_panier">
        <h2>Récapitulatif produit</h2>
        <p>Sous-total</p>
        <p>Livraison</p>
        <p>Code promo</p>
        <p class="total">Total :</p>
        <div class="valide_panier">
            <button>Valider mon panier</button>
        </div>
    </div>
</div>

<%- include("footer") %>