<%- include("header") %>

<body>

    <div class="produit-background">

        <div class="card-produit">
            <img src="" alt="produit">
        </div>
        <div class="elements-card-produit">
            <div class="retour-card-produit">
                <a href="catalogue_categorie">Retourner en arrière</a>
                <i class="fa-solid fa-arrow-left" style="color: white;"></i>
            </div>

            

            <h3>Choisir la taille</h3>
                <div class="taille-produit">
                    <div class="taille-produit-border">
                        <p>S</p>
                    </div>
                    <div class="taille-produit-border">
                        <p>M</p>
                    </div>
                    <div class="taille-produit-border">
                        <p>L</p>
                    </div>
                    <div class="taille-produit-border">
                        <p>XL</p>
                    </div>
                </div>

            <button type="submit">Réserver ce produit</button>

        </div>

    </div>

    <h1>Cela pourrait également vous plaire</h1>

    <div class="voir-plus-produit-centre">
        <button type="submit" class="voir-plus-produit">Voir plus</button>
    </div>

</body>

<%- include("footer") %>