<%- include("header") %>

<body>

    <h1 class="titre-profil">Mon historique d'achat</h1>
        <div class="background-historique-profil">
            <img src="/img/produits/Prdt1.png">
            <img src="/img/produits/Prdt10.jpg">
            <img src="/img/produits/Prdt14.jpg">
        </div>


    <div class="background-favoris-profil">
        <h1 class>Mes favoris</h1>
            <div class="background-favoris-profil-image">
                <img src="/img/produits/Prdt28.png">
                <img src="/img/produits/Prdt1.png">
                <img src="/img/produits/Prdt1.png">
                <img src="/img/produits/Prdt1.png">
            </div>
    </div>

    <div class="background-abonnement-profil">
        <div class="background-abonnement-profil-gauche">
            <h2>Mon abonnement</h2>
            <img src="/img/ranks/VIP.png">
            
        </div>

        <div class="background-abonnement-profil-droit">
            <p>Ici vous pourrez changer vos informations et votre abonnement si vous le souhaitez</p>
            <button type="submit">Changer mes informations</button>
            <a href="abonnement">
                <button type="submit">Changer mon abonnement</button>
            </a>
        </div>

    </div>

</body>

<%- include("footer") %>