<%- include("header") %>

    <body>
        <h1>Bonjour Prénom</h1>
        <h2 class="titre-profil">Mon historique d'achat</h2>
        <div class="background-historique-profil">
            <img src="/img/produits/Prdt1.png">
            <img src="/img/produits/Prdt10.jpg">
            <img src="/img/produits/Prdt14.jpg">
        </div>


        <div class="background-favoris-profil">
            <h2 class="secondtitre-profil">Mes favoris</h2>
            <div class="background-favoris-profil-image">
                <img src="/img/produits/Prdt28.png">
                <img src="/img/produits/Prdt1.png">
                <img src="/img/produits/Prdt1.png">
                <img src="/img/produits/Prdt1.png">
            </div>
        </div>

        <div class="background-abonnement-profil">
            <div class="background-abonnement-profil-gauche">
                <h2>Mon abonnement</h2>
                <img src="/img/ranks/VIP.png">

            </div>

            <div class="background-abonnement-profil-droit">
                <p>Ici vous pourrez changer vos informations et votre abonnement si vous le souhaitez</p>
                <button type="submit" class="btn" id="openModifBtn">Changer mes informations</button>
                <a href="abonnement">
                    <button type="submit">Changer mon abonnement</button>
                </a>
            </div>

        </div>

    </body>

    <%- include("footer") %>
        <div class="modif-profil" id="modifProfil">
            <div class="modifpro">
                <button class="close-btn" id="closeModifBtn">&times;</button>
                <button action="deco" class="deco">Déconnexion</button>
                <h2>Modifier mon profil</h2>
                <form action="/inscription_infos" method="POST">
                    <p>Nom</p>
                    <input type="text" name="nom" placeholder="   Nom*">
                    <p>Prénom</p>
                    <input type="text" name="prenom" placeholder="   Prénom*">
                    <p>Âge</p>
                    <input type="age" name="age" placeholder="   Âge*">
                    <p>Email</p>
                    <input type="email" name="mail" placeholder="   Email*">
                    <p>Mot de passe</p>
                    <input type="password" name="mdp" placeholder="   Mot de passe*">
                    <div class="conditions">
                        <p>**1 Majuscule obligatoire</p>
                        <p>**1 Caractère spécial obligatoire</p>
                        <p>**1 chiffre obligatoire</p>
                    </div>
                    <br>
                    <div class="submit">
                        <button type="submit" class="save-btn" id="saveBtn">Confirmer les modification</button>
                    </div>
                </form>
                 <p action="/supp-compte" class="supp_compte">Supprimer le compte</p>
            </div>
        </div>

        <script>
            const modif = document.getElementById('modifProfil');
            const openBtn = document.getElementById('openModifBtn');
            const closeBtn = document.getElementById('closeModifBtn');

            openBtn.addEventListener('click', function () {
                modif.classList.add('active');
            });

            closeBtn.addEventListener('click', function () {
                modif.classList.remove('active');
            });

        </script>


app.post('/inscription_infos', async function(req, res){
    try {
        const userId = req.body.id;
        const userprenom = req.body.prenom;
        const usernom = req.body.nom;
        const userddn = req.body.age;
        const useremail = req.body.mail;
        const userpassword = req.body.mdp;
        await pool.query("UPDATE utilisateur SET prenom = ?, nom = ?, ddn = ?, email = ?, password = ? WHERE id = ? );", [userprenom, usernom, userddn, useremail, userpassword, userId]);
        res.redirect('/index');
    } catch (err) {
        console.error(err);
        res.status(500).send("L'utilisateur à des réservation ou erreur lors de la suppression du compte");
    }
});