body {
    background-image: url("/img/fond.jpg");
    background-size: cover;
    color:white;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
p {
    font-size: 5rem;
    text-align: center;
    margin-top: 5%;
}
img {
    width: 20%;
    height: auto;
}

.icon{
    margin-right:10px;
}

a p{
    font-size:1.5em;
}

a {
    position: absolute;
    top:2%;
    left:2%;
    color: white;
    text-decoration: none;
    padding: 5px;
    transition: color 0.3s ease;
}

/* Pseudo-élément pour le soulignement */
a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #E3AE58;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}

/* Effet au survol */
a:hover {
    color: #E3AE58;
}

a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}
