body {
    background-image: url("/img/fond.jpg");
    background-size: cover;
    color:white;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
p {
    font-size: 5rem;
    text-align: center;
    margin-top: 5%;
}
img {
    width: 20%;
    height: auto;
}