.background-image-deco{
    width:100%;
}

.categorie-illu{
    width:70%;
    height:auto;
}

.liste-categorie{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.liste-categorie a{
    display:flex;
    justify-content:center;
    flex-direction:column;
    color:black;
}

.liste-categorie h4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}



h1{
    color:black;
    text-align:center;
}

.liked-products{
    color:black;
}

.liked-products-cont{
    display:flex;
    justify-content : space-evenly;
}

.liked-products{
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
}

.liked-img{
    margin-bottom:15px;
}

a{
    text-decoration:none;
}