.background-image-deco{
    width:100%;
}

h1{
    font-size:64px;
}

.categorie-illu{
    width:70%;
    height:auto;
}

.liste-categorie{
    display:flex;
    gap:2%;
    align-items:center;
    justify-content:center;
    width:80%;
    margin-left:10%
}

.liste-categorie a{
    display:flex;
    justify-content:center;
    flex-direction:column;
    color:black;
}
