.produit-background{
    background-color: #454545;
    color: white;
    display: flex;
    align-items:center;
    width: 100%;
    margin-top: 50px;
}

.card-produit{
    width: 50%;
    margin-left:20%;
    transform:scale(1.8);
}

.elements-card-produit{
    width: 50%;
}

.retour-card-produit{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    margin-right: 30px;
    margin-top: 10px;
    gap: 10px;
}

.retour-card-produit a{
    text-decoration: none;
    color: white;
}

.retour-card-produit a:hover{
    text-decoration: underline;
}

.taille-produit{
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
    position: relative;
    top: -20px;
    gap: 60px;
}

.elements-card-produit button{
    width: 300px;
    height: 50px;
    font-size: 1.2em;
    background-color: #E3AE58;
    border-radius: 5px;
    margin-bottom: 50px;
    font-family: "Jacques Francois", serif;
    transition: 0.2s ease;
}

.elements-card-produit button:hover{
    cursor: pointer;
    transform: scale(1.02);
    transition: 0.2s ease;
    color: white;
}

.elements-card-produit h3{
    font-size: 2em;
    font-weight: 100;
    margin-bottom: 80px;
}

.voir-plus-produit-centre{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.voir-plus-produit{
    width: 200px;
    height: 40px;
    font-size: 1.1em;
    background-color: #E3AE58;
    border-radius: 5px;
    margin-bottom: 50px;
    font-family: "Jacques Francois", serif;
    transition: 0.2s ease;
}

.voir-plus-produit:hover{
    cursor: pointer;
    transform: scale(1.02);
    transition: 0.2s ease;
    color: white;
}