.background {
  background-image: url("/img/fond.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-connexion {
  background: #2E2E2E;
  border: 1px solid #E3AE58;
  padding: 2em;
  border-radius: 1em;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  width: 300px;
  text-align: center;
  font-family: "Inter", sans-serif;
  color: white;
}
.card-connexion h1 {
  color: white;
  font-family: "Jacques Francois", serif;
}


.pdc {
  text-decoration: underline;
}

.aetm {
    text-align: left;
}

.lieninscrip {
  width: 30%;
  font-size: 0.7em;
  color: white;
}
.lienconn {
  width: 50%;
}