/* footer */
footer {
    background-color: black;
    padding: 3%;
    color: white;
    display: flex;
    gap: 8%;color:white;
}

.rs {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    gap:30%;
    margin-left: 10%;
}

.colonne {
    font-size: 1rem;
    margin-left: 5%;
}

.colonne h4 {
    text-transform: uppercase;
    margin-bottom: 10%;
}

.colonne ul {
    list-style-type: none;
    margin-top: 15%;
}

.colonne ul li {
  margin-bottom: 5%;
}

.droit {
    background-color: gray;
    text-align: center;
}

/* inscription */

.card-inscrip {
  background: #2E2E2E;
  border: 1px solid #E3AE58;
  padding: 2em;
  border-radius: 1em;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  width: 35%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.card-inscrip h1 {
    text-align: center;
}
.background-ins {
  background-image: url("/img/fond.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* form p {
    font-family: ;
} */

form input {
    background-color: #5F5F5F;
    border-radius: 0.5em; 
    width: 97%;
    padding: 1%;
}
.conditions {
    display: flex;
    gap: 9%;
}

.conditions p {
    color:#E3AE58;
    font-size: 0.65em;
}

form .box {
    padding: 4%;
}

.check label {
    color: white;
    font-size: 0.9em;
    margin-left: 5%;
}
.check input {
    position: absolute;
    right: 17%;
}

form a {
    font-size: 1rem;
    padding: 2%;
    background-color: #E3AE58;
    border-radius: 5em;
    width: 40%;
    text-align: center;
    color:black;
    text-decoration: none;
}
form a:hover {
    background-color: #9e6e27;
    transition: 0.3s;
}
.submit {
    align-items: center;
    display: flex;
    flex-direction: column;
}
form h2 {
    color: white;
}

.autres-moyens {
    display: flex;
    flex-direction: row;
    padding: 0.5em;
}

.autres-moyens i {
    padding: 1em;
}