footer {
    background-color: black;
    padding: 3%;
    color: white;
    display: flex;
    gap: 8%;
}

.rs {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    gap:30%;
    margin-left: 10%;
}

.colonne {
    font-size: 1rem;
    margin-left: 5%;
}

.colonne h4 {
    text-transform: uppercase;
    margin-bottom: 10%;
}

.colonne ul {
    list-style-type: none;
    margin-top: 15%;
}

.colonne ul li {
  margin-bottom: 5%;
}

.droit {
    background-color: gray;
    text-align: center;
}