/* ajout, supp produit */
.ajout-produit-container {
    margin-top: 5%;
    margin-bottom: 5%;
    align-items: center;
    justify-content: center;
    display: flex;
}
.ajout-produit-container form {
  background: #2E2E2E;
  border: 2px solid #E3AE58;
  padding: 2em;
  border-radius: 1em;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  width: 50%;
  color: white;
}

.ajout-produit-container form label {
  color: white;
  display: block;
  margin-bottom: 8px;
  font-size: 1rem;
}

.form-group {
    padding: 15px;
}
.ajout-produit-container form input,
.ajout-produit-container form textarea {
  color: white;
  background-color: #5F5F5F;
  border: none;
  border-radius: 0.5em;
  padding: 0.7em;
  width: 97%;
}

.ajout_supp {
    align-items: end;
    display: flex;
    justify-content: end;
    position: relative;
    right: 20px;
}
.ajout_supp button {
    width: 200px;
    border-radius: 10px;
}

.ajout_supp button:hover{
    cursor: pointer;
}

#categorie {
    font-size: 1rem;
    padding: 1%;
    margin-left: 20px;
    background-color: #E3AE58;
    border-radius: 10px;
    width: 25%;
    text-align: center;
    color:black;
    text-decoration: none;
    border:none;
}

#categorie:hover {
    cursor: pointer;
}

.recherche-produit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.recherche-produit input {
  background-color: #d3d3d3;
  color: black;
  border: none;
  border-radius: 10px;
  width: 30em;
  padding: 0.8em 1em;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  border: solid 1px black;
}

.recherche-produit input::placeholder {
  color: #666;
}

.recherche-produit input:focus {
  outline: none;
  background-color: #e0e0e0;
}
.recherche-produit button {
  width: 10%;
}

.recherche-produit i {
  color: black;
  font-size: 1rem;
  position: relative;
}

.recherche-produit i:hover {
  cursor: pointer;
}

.rechercherproduit{
    background-color: none;
}

.liste-produits{
    display: flex;
    gap: 5%;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.liste-produits button {
    background-color: #EE7070;
    border:none ;
    width: 50%;
}
.liste-produits button:hover {
    background-color: #923f3f;
}
.hgerant {
    color : black;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
}
/*check reservation*/
.reservation_card {
    padding: 2em;
    background-color: #454545;
    color: white;
    border-radius: 25px;
    width: 60%;
    justify-self: center;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10%;
    margin-bottom: 5%;
}
.reservation_card h3 {
    text-align: center;
}
.back_liste {
    padding: 1%;
    margin-left: 2%;
}
.back_liste h2:hover {
    text-decoration: underline;
}
.reservation_card img {
    width: 80%;
    height: auto;
    background: white;
}
.reservation_card_info h4 {
    text-align: center;
    color: #E3AE58;
}
.reservation_card_info h5 {
    font-size: 1.5rem;
}
.info-reserv {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 50%;
}
.boutons_reserv {
    gap:4%;
    display: flex;
}
.boutons_reserv button{
    font-size: 0.8rem;
    padding: 1.5%;
    border-radius: 0.8em;
    width: 22.5%;
    text-align: center;
    color:black;
    border:none;
}
.fin_reserv {
    background-color: #EE7070;
}
.fin_reserv:hover {
    background-color: #923f3f;
}
.contact_reserv {
    background-color: #E3AE58;
}
.contact_reserv:hover {
    background-color: #9e6e27;
}

.gerants-holder{
    padding: 2em;
    background-color: #454545;
    color: white;
    border: 2px solid #E3AE58;
    border-radius: 15px;
    border: 2px;
    width: 40%;
    justify-self: center;
    display: column;
    grid-template-columns: auto 1fr;
    gap: 10%;
    margin-bottom: 5%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.ajout_gerant_bouton{
    font-size: 1rem;
    padding: 1.5%;
    margin-left: 20px;
    background-color: #E3AE58;
    border-radius: 10px;
}

.gerant_bouton_center{
    display: flex;
    justify-content: center;
}

.separateur_gerant{
    margin-left:5%;
    border-radius: 2px;
    margin-bottom:2em;
    background-color:#B68C48;
    height:2px;
    width:90%;
}


