/* ajout, supp produit */
.ajout-produit-container {
    align-items: center;
    justify-content: center;
    display: flex;
}
.ajout-produit-container form {
  background: #2E2E2E;
  border: 2px solid #E3AE58;
  padding: 2em;
  border-radius: 1em;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  width: 50%;
  color: white;
}

.form-group {
    padding: 1em;
}
.ajout-produit-container form textarea {
    width: 97%;
    background-color: #5F5F5F;
    border-radius: 0.5em; 
    padding: 1%;
}
.ajout_supp {
    align-items: end;
    display: flex;
    justify-content: end;
}
.ajout_supp button {
    width: 20%;
}
#categorie {
    font-size: 1rem;
    padding: 1%;
    background-color: #E3AE58;
    border-radius: 5em;
    width: 35%;
    text-align: center;
    color:black;
    text-decoration: none;
    border:none;
}
#imageimport {
    background-color: #5F5F5F;
}