/* ajout, supp produit */
.ajout-produit-container {
    align-items: center;
    justify-content: center;
    display: flex;
}
.ajout-produit-container form {
  background: #2E2E2E;
  border: 2px solid #E3AE58;
  padding: 2em;
  border-radius: 1em;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  width: 50%;
  color: white;
}

.form-group {
    padding: 1em;
}
.ajout-produit-container form textarea {
    width: 97%;
    background-color: #5F5F5F;
    border-radius: 0.5em; 
    padding: 1%;
}
.ajout_supp {
    align-items: end;
    display: flex;
    justify-content: end;
}
.ajout_supp button {
    width: 20%;
}
#categorie {
    font-size: 1rem;
    padding: 1%;
    background-color: #E3AE58;
    border-radius: 5em;
    width: 35%;
    text-align: center;
    color:black;
    text-decoration: none;
    border:none;
}

.recherche-produit {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 5%;
}
.recherche-produit input {
  border-radius: 10px;
  width: 30em;
  padding: 1%;
}
.recherche-produit button {
  background-color: white;
  cursor: pointer;
  border-radius: 10px;
  padding: 1%;
}
.liste-produits{
    display: flex;
    gap: 5%;
    justify-content: center;
    margin-top: 5%;
}
.liste-produits button {
    background-color: #EE7070;
    border:none ;
}
.liste-produits button:hover {
    background-color: #923f3f;
}
.hgerant {
    color : black;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
}
/*check reservation*/
.reservation_card {
    padding: 2em;
    background-color: #454545;
    color: white;
    border-radius: 25px;
    width: 60%;
    justify-self: center;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10%;
    margin-bottom: 5%;
}
.reservation_card h3 {
    text-align: center;
}
.back_liste {
    padding: 1%;
    margin-left: 2%;
}
.back_liste h2:hover {
    text-decoration: underline;
}
.reservation_card img {
    width: 80%;
    height: auto;
    background: white;
}
.reservation_card_info h4 {
    text-align: center;
    color: #E3AE58;
}
.reservation_card_info h5 {
    font-size: 1.5rem;
}
.info-reserv {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 50%;
}
.boutons_reserv {
    gap:4%;
    display: flex;
}
.boutons_reserv button{
    font-size: 0.8rem;
    padding: 1.5%;
    border-radius: 0.8em;
    width: 22.5%;
    text-align: center;
    color:black;
    border:none;
}
.fin_reserv {
    background-color: #EE7070;
}
.fin_reserv:hover {
    background-color: #923f3f;
}
.contact_reserv {
    background-color: #E3AE58;
}
.contact_reserv:hover {
    background-color: #9e6e27;
}

