/* header */
.logo {
  width: 300px;
  height: auto; 
}
.top-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;                  
}
header {
  background-color: #2A2A2A;
}
.bottom-header {
  background-color: #E3AE58;
  text-align: center;
  padding: 0.5em ;
}
.bottom-header a {
  color: black;
  text-decoration: none;
  margin: 5%;
}

.bottom-header a:hover {
  text-decoration: underline;
}

.logo {
  margin-left: 2%;
}
.icons {
  margin-right: 2%;
}

.icons i {
  margin : 0 10px;
}
.search-bar {
  display: flex;
  flex-direction: row;
  margin-right: 10%;
}
.search-bar input {
  border: none;
  border-radius: 10px;
  width: 40em;
  padding: 1%;
}
.search-bar button {
  border: none;
  background-color: white;
  cursor: pointer;
  border-radius: 10px;
  padding: 1%;
}

/* paiement */
.paiement {
  display: flex;
  flex-direction: row;
  padding: 2%;
  justify-content: space-around;
  color:white;
  gap: 5%;
}

.card-paiement, .recap {
  background-color: #454545;
  padding: 2%;
  border-radius: 1em;
}
.card-paiement {
  width: 50%;
}
.recap {
  width: 30%;
  height: fit-content;
}

.card-paiement input {
  background-color: #5F5F5F;
  width: 25%;
  padding: 1%;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 0.75em;
  border:none;
}

#cp{
  width: 10%;
}
#expmonth, #expyear, #cvv{
  width: 5%;
}
#fname, #lname, #city{
  width: 15%;
}
.numetdate {
  display: flex;
  flex-direction: row;
  gap: 10%;
}

#expmonth {
  margin-left: 10%;
}
#cvv {
  margin-left: 12.5%;
}
