.produit-plaire-cont{
    margin:5% 0px;;
    display:flex;
    justify-content:center;
    gap:15%;
}

.catalogue-produit-card{
    display:flex;
    flex-direction:column;
    text-align:center;
    color:black;
}

a{
    color:black;
}

.aresa {
    font-size: 1rem;
    padding: 2%;
    background-color: #E3AE58;
    border-radius: 5em;
    width: 40%;
    text-align: center;
    color:black;
    text-decoration: none;
    border:none;
}

.aresa:hover {
    background-color: #9e6e27;
    transition: 0.3s;
}

.produit-background{
    background-color: #454545;
    color: white;
    display: flex;
    align-items:center;
    width: 100%;
    margin-top: 50px;
}

.card-produit{
    width: 30%;
    margin-left:25%;
    transform:scale(1.8);
}

.elements-card-produit{
    width: 50%;
}

.retour-card-produit{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    margin-right: 30px;
    margin-top: 10px;
    gap: 10px;
}

.retour-card-produit a{
    text-decoration: none;
    color: white;
}

.retour-card-produit a:hover{
    text-decoration: underline;
}

.taille-produit{
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
    position: relative;
    top: -20px;
    gap: 60px;
}

.taille-produit p{
    position: relative;
    top: -8px;
}

.taille-produit-border{
    border: 3px solid black;
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    transition: 0.2s ease;
}

.taille-produit-border:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.2s ease;
}

.elements-card-produit button{
    width: 300px;
    height: 50px;
    font-size: 1.2em;
    background-color: #E3AE58;
    border-radius: 5px;
    margin-bottom: 50px;
    font-family: "Jacques Francois", serif;
    transition: 0.2s ease;
}

.elements-card-produit button:hover{
    cursor: pointer;
    transform: scale(1.02);
    transition: 0.2s ease;
    color: white;
}

.elements-card-produit h3{
    font-size: 2em;
    font-weight: 100;
    margin-bottom: 2%;
}
.elements-card-produit h4{
    font-size: 1.5em;
    font-weight: 100;
    margin-bottom: 8%;
}

.voir-plus-produit-centre{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.voir-plus-produit{
    width: 200px;
    height: 40px;
    font-size: 1.1em;
    background-color: #E3AE58;
    border-radius: 5px;
    margin-bottom: 50px;
    font-family: "Jacques Francois", serif;
    transition: 0.2s ease;
}

.voir-plus-produit:hover{
    cursor: pointer;
    transform: scale(1.02);
    transition: 0.2s ease;
    color: white;
}

.lien-produit{
    text-decoration:none;
    color:black;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}