body {
    font-family: sans-serif;
    background: #f5f5f5;
    margin: 0;
}

.page_produit {
    text-align: center;
    padding: 40px 0;
}

.btn_retour {
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
    margin-bottom: 30px;
}

.card_produit {
    background: #3a3a3a;
    color: white;
    border-radius: 12px;
    max-width: 900px;
    margin: auto;
    padding: 30px;
    display: flex;
    gap: 40px;
    justify-content: center;
}

.image_zone img {
    width: 300px;
    border-radius: 8px;
    background: white;
}

.btn_panier {
    background: #d7a647;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

.info_zone {
    text-align: left;
    max-width: 350px;
}

.quantite {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}

.quantite button {
    background: none;
    border: 1px solid white;
    color: white;
    width: 25px;
    height: 25px;
    border-radius: 4px;
    cursor: pointer;
}

.calendar {
    background: #2e2e2e;
    border-radius: 8px;
    width: 200px;
    height: 180px;
    margin-top: 10px;
}

.calendar_header {
    background: #d7a647;
    color: black;
    font-weight: bold;
    padding: 5px 0;
}


.calendar-container {
    background: #555;
    border-radius: 6px;
    padding: 20px;
    width: 320px;
    color: white;
    position: relative;
}

.calendar-header {
    background: #f3b13d;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    letter-spacing: 2px;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    margin-top: 20px;
    gap: 5px;
}

.day-name {
    font-size: 12px;
    font-weight: bold;
}

.sun, .sat {
    color: #ff3c2b;
}

.day {
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.2s;
}

.day:hover {
    background: rgba(255,255,255,0.15);
}

.selected-start {
    background: #f3b13d;
    border-radius: 50%;
    color: white;
    font-weight: bold;
}

.selected-end {
    background: #f3b13d;
    border-radius: 50%;
    color: white;
    font-weight: bold;
}

.in-range {
    background: rgba(243,177,61,0.35);
}