body{
    font-family: "Jacques Francois", serif;
    margin: 0px;
    padding: 0px;
}

.Centered-title{
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 4rem;
}

.abonnement-background{
    display: flex;
    justify-content: row;
    justify-content: center;
    width: 100%;
}

.standard-background{
    background-color: #5B5B5B;
    color: white;
    height: 800px;
    position:relative;
    bottom: -50px;
    z-index: -1;
    width: 34%;
}

.standard-background button{
    background-color: #C07134;
    border-radius: 25px;
    width: 150px;
    height: 30px;
}

.standard-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.VIP-background{
    background-color: #2E2E2E;
    color: white;
    height:850px;
    border-radius: 1em;
    position:relative;
    bottom: -15px;
    z-index: -1;
    width: 33%;
}

.VIP-background button{
    background-color: #B68C48;
    border-radius: 25px;
    width: 150px;
    height: 30px;
}

.VIP-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.premium-background{
    background-color: #454545;
    color: white;
    height: 800px;
    position:relative;
    bottom: -50px;
    z-index: -1;
    width: 34%;
}

.premium-background button{
    background-color: #969696;
    border-radius: 25px;
    width: 150px;
    height: 30px;
}

.premium-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
