body {
    font-family: "Jacques Francois", serif;
    margin: 0px;
    padding: 0px;
}

.Centered-title {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 4rem;
}

.abonnement-background {
    display: flex;
    justify-content: row;
    justify-content: center;
    width: 100%;
}

.standard-background {
    background-color: #5B5B5B;
    color: white;
    height: 800px;
    position: relative;
    bottom: -50px;
    z-index: 1;
    width: 34%;
}

.standard-background button {
    background-color: #C07134;
    border-radius: 25px;
    width: 150px;
    height: 30px;
    transition: 0.2s ease;
}

.standard-background button:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.2s ease;
    color: white;
    font-weight: bold;
}

.standard-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    right: 20px;
}

.standard-card ul {
    font-size: 1.2rem;
}

.VIP-background {
    background-color: #2E2E2E;
    color: white;
    height: 850px;
    border-radius: 1em;
    position: relative;
    bottom: -15px;
    z-index: -1;
    width: 33%;
}

.VIP-background button {
    background-color: #B68C48;
    border-radius: 25px;
    width: 150px;
    height: 30px;
}

.VIP-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.VIP-card ul {
    font-size: 1.2rem;
}

.premium-background {
    background-color: #454545;
    color: white;
    height: 800px;
    position: relative;
    bottom: -50px;
    width: 34%;
}

.premium-background button {
    background-color: #969696;
    border-radius: 25px;
    width: 150px;
    height: 30px;
    transition: 0.2s ease;
}

.premium-background button:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.2s ease;
    color: white;
    font-weight: bold;
}

.premium-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.VIP-card img {
    position: relative;
    right: 10px;
}

.premium-card ul {
    font-size: 1.2rem;
}


.background-historique-profil {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 50px;
    margin-top: 50px;
}

.background-historique-profil img {
    width: 450px;
    height: 450px;
}

.background-favoris-profil {
    background-color: #2E2E2E;
    width: 100%;
    height: 550px;
}

.background-favoris-profil h2 {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.background-favoris-profil-image {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.background-favoris-profil img {
    width: 350px;
    height: 350px;
}

.background-abonnement-profil {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}

.background-abonnement-profil-droit {
    width: 50%;
    background-color: #E3AE58;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px 0% 0% 0%;
}

.background-abonnement-profil-droit p {
    color: black;
    font-size: 1.2em;
}

.background-abonnement-profil-droit button {
    width: 450px;
    height: 50px;
    opacity: 70%;
    color: black;
    border-radius: 10px;
    font-size: 1.2em;
    margin-top: 20px;
    font-family: "Jacques Francois", serif;
    transition: 0.5s ease-out;
}

.background-abonnement-profil-droit button:hover {
    cursor: pointer;
    transform: scale(1.02);
    transition: 0.5s ease;
}

.background-abonnement-profil-gauche {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background-abonnement-profil-gauche h2 {
    font-size: 3em;
    margin-top: -50px;
}

.background-abonnement-profil-gauche img {
    width: 220px;
    height: 200px;
}

.liste-produits {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25%;
}

/* profil */
.modif-profil {
    display: none;
    position: fixed;
    inset: 0;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    align-items: center;
    justify-content: center;
}
.modifpro {
    background-color: #2E2E2E;
    padding: 2em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    height: 90%;
}
.modifpro h2, .modifpro {
    text-align: center;
    margin-bottom: 1%;
}

.modif-profil.active {
    display: flex;
}
.close-btn {
    position: absolute;
    top: 25px;
    background: none;
    border: none;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}
.supp_compte {
    color: #c03434;
    text-align: center;
    cursor: pointer;
    text-decoration: underline;
}

.titre-profil {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2em;
}
.secondtitre-profil {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2em;
}
.deco {
    position: relative;
    background-color: #c03434;
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    padding: 2%;
    top: 5%;
}